header, footer {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-image: url('/img/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  top: 0;
  height: 60px;
}

footer {
  bottom: 0;
  height: 40px;
}
.login-container {
  display: flex;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 40px;
  z-index: 10; 
}
.header {
  background-color: rgba(0,0,0,0.5);
}

